annotated-types==0.5.0
asgiref==3.8.1
certifi==2023.5.7
charset-normalizer==3.1.0
Django==5.2.2
django-bootstrap5==25.1
docopt==0.6.2
idna==3.4
py-make==0.1.2
pydantic==2.3.0
pydantic_core==2.6.3
requests==2.31.0
sqlparse==0.5.3
typing_extensions==4.6.1
tzdata==2025.2
urllib3==2.0.2
